# Gradle
.gradle/
build/
out/
classes/

# Eclipse
*.launch
.settings/
.metadata/
.classpath
.project
bin/
eclipse/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# VSCode
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Minecraft
run/
logs/
crash-reports/
saves/
screenshots/
options.txt
usercache.json
usernamecache.json

# Forge
forge*.txt
*.txt.gz
*.log
*.log.gz
